@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}