@import "./typography.scss";

body {
  height: 100vh;
  color: var(--white);
  background-color: var(--black);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.5;
  font-family: "DM Sans";
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.nav-link-active {
  border-bottom: 3px solid var(--light-green-accent);
  max-width: fit-content;
}
