:root {
  --white: #fff;
  --black: #000;
  --light-green-accent: #61cf9e;
  --green-accent: #75fa7f;
  --light-gray-hover: #1d1d1e;
  --gray-text: #aaa;
  --dark-gray-bg: #171717;
  --black-header-bg: #000000c7;
}
